@mixin afterBeforeDiv($bckColor: $firstColor, $bckOpacity: 0.5, $opacity: 0) {
  &::after {
    content: " ";
    position: absolute;
    background: rgba($color: $bckColor, $alpha: $bckOpacity);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: $opacity;
    transition: opacity 0.3s;
  }
}

@mixin button($textColor, $bckColor, $hoverTextColor, $hoverBckColor) {
  color: $textColor !important;
  background-color: $bckColor !important;
  padding: 0.5rem 1.7rem;
  transition: all 0.3s;
  &:hover {
    color: $hoverTextColor !important;
    background-color: $hoverBckColor !important;
  }
}

// XX-Large devices (larger desktops, 1400px and down)
@mixin for-xx-large-devices {
  @media (max-width: 1400px) {
    @content;
  }
}
// X-Large devices (large desktops, 1200px and down)
@mixin for-x-large-devices {
  @media (max-width: 1200px) {
    @content;
  }
}
// Large devices (desktops, 992px and down)
@mixin for-large-devices {
  @media (max-width: 992px) {
    @content;
  }
}
// Medium devices (tablets, 768px and down)
@mixin for-medium-devices {
  @media (max-width: 768px) {
    @content;
  }
}
// Small devices  (tablets, 576px and down)
@mixin for-small-devices {
  @media only screen and (max-width: 576px) {
    @content;
  }
}
// Extra Small devices (tablets, 320px and down)
@mixin for-extra-small-devices {
  @media (max-width: 320px) {
    @content;
  }
}
