html {
  font-size: 1rem; }

#main #about {
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover cover; }

#header {
  left: 0;
  z-index: 10 !important; }
  #header .header-top {
    height: 3rem; }
    #header .header-top .social-links li:nth-child(1) i {
      color: #3b5998 !important; }
    #header .header-top .social-links li:nth-child(2) i {
      color: #55acee !important; }
    #header .header-top .social-links li:nth-child(3) i {
      color: #0976b4 !important; }
    #header .header-top .social-links li:nth-child(4) i {
      color: red !important; }
    #header .header-top .social-links li i {
      transition: color 0.3s; }
      #header .header-top .social-links li i:hover {
        color: #fff !important; }
    #header .header-top .login li {
      transition: background-color 0.3s;
      cursor: pointer; }
      #header .header-top .login li:hover {
        background-color: #e0006c; }
        #header .header-top .login li:hover i {
          color: #fff !important; }
  #header .header-bottom .navbar .menu-item a {
    transition: color 0.3s; }
  #header .header-bottom .navbar .menu-item .menu-item {
    cursor: pointer; }
    #header .header-bottom .navbar .menu-item .menu-item:hover a {
      color: #e0006c !important; }
  #header .header-bottom .navbar .menu-item:hover .menu-sub {
    opacity: 1; }
  #header .header-bottom .navbar .menu-item .menu-sub {
    top: 1.5rem;
    left: 0;
    width: 19rem;
    opacity: 0;
    transition: opacity 0.3s; }
  #header .header-bottom .contact {
    color: #e0006c; }
  @media only screen and (max-width: 576px) {
    #header .header-bottom .menu-main {
      column-gap: 0.6rem !important;
      font-size: 0.7rem; }
      #header .header-bottom .menu-main .menu-sub {
        width: 10rem !important; }
      #header .header-bottom .menu-main .menu-item:nth-child(6) .menu-sub {
        left: -2rem !important; } }

#main {
  margin-top: 6.5rem; }
  @media (max-width: 992px) {
    #main {
      margin-top: 5rem; } }
  #main #models .model img {
    cursor: pointer; }
  #main #models .model .model-content {
    background-color: rgba(224, 0, 108, 0.8);
    bottom: 0;
    transition: transform 0.3s;
    transform: translateY(50%);
    opacity: 0; }
    #main #models .model .model-content a {
      transition: color 0.3s; }
      #main #models .model .model-content a:hover {
        color: #000 !important; }
  #main #models .model:hover .model-content {
    transform: translateY(0);
    opacity: 1; }
  @media (max-width: 768px) {
    #main #models ul {
      column-gap: 1rem !important;
      flex-wrap: nowrap; } }
  @media only screen and (max-width: 576px) {
    #main #models {
      font-size: 0.5rem; }
      #main #models h2 {
        font-size: 1rem !important; }
      #main #models ul {
        column-gap: 1rem !important;
        flex-wrap: nowrap; } }
  #main #banner .banner {
    border-width: 0.3rem !important; }
    #main #banner .banner a:hover::before {
      opacity: 1; }
    #main #banner .banner a::before {
      content: " ";
      position: absolute;
      background: rgba(224, 0, 108, 0.2);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.3s; }
  #main #agency h2 {
    font-size: 3rem; }
  #main #agency h4 {
    color: #e0006c; }
  #main #agency img {
    width: 6rem;
    height: 6rem; }
  #main #allModels .model .model-img {
    cursor: pointer; }
    #main #allModels .model .model-img::after {
      content: " ";
      position: absolute;
      background: rgba(224, 0, 108, 0.4);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.3s; }
  #main #allModels .model .model-content {
    transition: background-color 0.3s; }
  #main #allModels .model:hover .model-img::after {
    opacity: 0.6; }
  #main #allModels .model:hover .model-content {
    background-color: #e0006c; }
    #main #allModels .model:hover .model-content h5 {
      color: #000 !important; }
  #main #allModels a {
    color: #fff !important;
    background-color: #e0006c !important;
    padding: 0.5rem 1.7rem;
    transition: all 0.3s; }
    #main #allModels a:hover {
      color: #000 !important;
      background-color: #e0006c !important; }
  #main #about {
    background-image: url(../images/section-background-1.jpg);
    height: 55rem; }
    #main #about h2 {
      font-size: 3rem; }
    #main #about h4 {
      color: #e0006c; }
    #main #about a {
      color: #fff !important;
      background-color: #e0006c !important;
      padding: 0.5rem 1.7rem;
      transition: all 0.3s; }
      #main #about a:hover {
        color: #000 !important;
        background-color: #e0006c !important; }
