// Import main sass
@import "../main";
// Main;
#main {
  margin-top: 6.5rem;
  @include for-large-devices {
    margin-top: 5rem;
  }
  // Models
  #models {
    .model {
      img {
        cursor: pointer;
      }
      .model-content {
        background-color: rgba($color: $firstColor, $alpha: 0.8);
        bottom: 0;
        transition: transform 0.3s;
        transform: translateY(50%);
        opacity: 0;
        a {
          transition: color 0.3s;
          &:hover {
            color: #000 !important;
          }
        }
      }
      &:hover {
        .model-content {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    @include for-medium-devices {
      ul {
        column-gap: 1rem !important;
        flex-wrap: nowrap;
      }
    }
    @include for-small-devices {
      font-size: 0.5rem;
      h2 {
        font-size: 1rem !important;
      }
      .model {
        &:hover {
          .model-content {
            h2 {
              font-size: 0.5rem !important;
            }
            transform: translateY(1rem);
            ul {
              row-gap: 0.2rem;
              li {
                column-gap: 0.5rem;
                flex-direction: row !important;
              }
            }
          }
        }
      }
    }
  }
  // Banner
  #banner {
    .banner {
      border-width: 0.3rem !important;
      a {
        &:hover::after {
          opacity: 0.4;
        }
        @include afterBeforeDiv;
      }
    }
  }
  // Agency
  #agency {
    h2 {
      font-size: 3rem;
    }
    h4 {
      color: $firstColor;
    }
    img {
      width: 6rem;
      height: 6rem;
    }
  }
  // All Models
  #allModels {
    .model {
      .model-img {
        cursor: pointer;
        @include afterBeforeDiv;
      }
      .model-content {
        transition: background-color 0.3s;
      }
      &:hover {
        .model-img::after {
          opacity: 0.6;
        }
        .model-content {
          background-color: $firstColor;
          h5 {
            color: #000 !important;
          }
        }
      }
    }
    a {
      @include button(#fff, $firstColor, #000, $firstColor);
    }
  }
  // About
  #about {
    background-image: url(../images/section-background-1.jpg);
    @extend %bckImg;
    height: 55rem;
    h2 {
      font-size: 3rem;
    }
    h4 {
      color: $firstColor;
    }
    a {
      @include button(#fff, $firstColor, #000, $firstColor);
    }
  }
  // Subscribe
  #subscribe {
    padding: 13rem 0;
    background-image: url(../images/Depositphotos_38755349_original.jpg);
    @extend %bckImg;
    h2 {
      font-size: 3rem;
      span {
        color: $firstColor;
      }
    }
    input::placeholder {
      color: gray;
    }
    @include for-small-devices {
      input {
        width: 15rem !important;
      }
    }
  }
  // TopModels
  #topModels {
    .content {
      h2 {
        font-size: 3rem;
      }
      h4 {
        color: $firstColor;
      }
    }
    .model {
      img {
        cursor: pointer;
      }
      .model-content {
        background: rgba($color: $firstColor, $alpha: 0.8);
        top: 0;
        width: 80%;
        height: 100%;
        transition: transform 0.5s;
        transform: translateX(-17rem);
        i {
          border: 0.1rem solid #fff;
          transition: all 0.5s;
          &:hover {
            background-color: transparent !important;
            color: #fff !important;
            border: 0.1rem solid #fff;
          }
        }
      }
      &:hover {
        .model-content {
          transform: translateX(0);
        }
      }
      @include for-large-devices {
        ul {
          row-gap: 1rem !important;
        }
      }
      @include for-small-devices {
        h2 {
          font-size: 0.5rem !important;
        }
        ul {
          row-gap: 0.1rem !important;
          span {
            font-size: 0.5rem !important;
          }
          a {
            display: none;
          }
        }
      }
    }
  }
}
